name: Build

on:
  push:
    branches:
      - main
    tags:
      - "*"
    paths-ignore:
      - "README.md"
      - "LICENSE"
      - ".github/workflows/trigger.yaml"
      - ".github/workflows/deploy-hub.yaml"
  workflow_dispatch:

jobs:
  process-package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: "17"
      # 下载焊入html的i18n
      - name: Download game files (zip)
        uses: robinraju/release-downloader@v1.12
        with:
          repository: "DoL-Lyra/DoLModLoaderBuild"
          latest: true
          fileName: "DoL-ModLoader-*.zip"

      # 下载汉化仓库的apk
      - name: Download game files (apk)
        uses: robinraju/release-downloader@v1.12
        with:
          repository: "Eltirosto/Degrees-of-Lewdity-Chinese-Localization"
          latest: true
          fileName: "DoL-ModLoader-*-v*[^polyfill].APK"

      # 修改内容
      - name: Modify ZIP&APK
        run: |
          # Download apktool
          URL_APKTOOL=https://github.com/iBotPeaches/Apktool/releases/download/v2.12.0/apktool_2.12.0.jar
          wget -q -nc -O apktool.jar $URL_APKTOOL
          APKTOOL=$(realpath apktool.jar)

          mkdir ${{ github.workspace }}/output
          mkdir modify_tmp
          # 解压apk
          java -jar $APKTOOL d *.APK -o modify_tmp/apk

          dol_filename=$(ls -1 DoL*.zip | grep -v "polyfill")
          dol_basename=$(basename ${dol_filename} .zip)
          unzip -q ${dol_basename}.zip -d modify_tmp/zip
          # 将zip的img覆盖到apk中
          cp -r "modify_tmp/zip/img" "modify_tmp/apk/assets/www/"
          # 将zip的html覆盖到apk中
          cp "modify_tmp/zip/Degrees of Lewdity.html" "modify_tmp/apk/assets/www/index.html"

          # patch apk
          pushd modify_tmp/apk/assets/www
          patch < ${{ github.workspace }}/patches/0001-dol-android-save-to-file.patch
          popd

          # 打包
          # zip
          pushd modify_tmp/zip
          zip -q -r ${dol_basename}.zip *
          mv ${dol_basename}.zip ${{ github.workspace }}/output/
          popd
          # apk
          java -jar $APKTOOL b modify_tmp/apk -o ${dol_basename}.apk
          mv ${dol_basename}.apk ${{ github.workspace }}/output/
          # 清理
          rm -rf modify_tmp/zip


          # polyfill
          dol_filename=$(ls -1 DoL*.zip | grep "polyfill")
          dol_basename=$(basename ${dol_filename} .zip)
          unzip -q ${dol_basename}.zip -d modify_tmp/zip
          # 将zip的img覆盖到apk中
          cp -r "modify_tmp/zip/img" "modify_tmp/apk/assets/www/"
          # 将zip的html覆盖到apk中
          cp "modify_tmp/zip/Degrees of Lewdity.html" "modify_tmp/apk/assets/www/index.html"
          # 打包
          pushd modify_tmp/zip
          zip -q -r ${dol_basename}.zip *
          mv ${dol_basename}.zip ${{ github.workspace }}/output/
          popd
          # apk
          java -jar $APKTOOL b modify_tmp/apk -o ${dol_basename}.apk
          mv ${dol_basename}.apk ${{ github.workspace }}/output/
          # 清理
          rm -rf modify_tmp/zip

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gamefile-zip
          path: ${{ github.workspace }}/output/*.zip
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: gamefile-apk
          path: ${{ github.workspace }}/output/*.apk

  build-matrix:
    needs: process-package
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        pack: [zip, apk]
        code: [6, 7, 39, 263, 295, 518, 774, 1030, 2054, polyfill-7]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "adopt"
          java-version: "17"

      - name: Install APT packages
        run: sudo apt install -y unrar

      # 下载处理过的游戏文件
      - uses: actions/download-artifact@v4
        with:
          name: gamefile-${{ matrix.pack }}
          path: ${{ github.workspace }}

      - name: Run mod script
        run: |
          echo ${{ secrets.SIGNING_KEY }} > dol.base64
          base64 -d dol.base64 > dol.jks
          ./mod.sh ${{ matrix.pack }} ${{ matrix.code }} ${{ github.ref_name }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dol-${{ matrix.pack }}-${{ matrix.code }}
          path: output/*
      - name: Upload artifacts pairs
        uses: actions/upload-artifact@v4
        with:
          name: pair-${{ matrix.pack }}-${{ matrix.code }}
          path: pairs/*

  pair-merge:
    runs-on: ubuntu-latest
    needs: build-matrix
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: pair-*
          path: pairs
          merge-multiple: true

      - run: |
          for pair in pairs/*; do
            filename=$(basename "$pair")
            content=$(cat "$pair")
            echo "$filename,$content" >>"pairs.csv"
          done
          tar -czf pairs.tar.gz pairs/* pairs.csv

      - name: Upload pairs archive
        uses: actions/upload-artifact@v4
        with:
          name: pairs-archive
          path: pairs.tar.gz

  release:
    runs-on: ubuntu-latest
    needs: build-matrix
    if: github.ref_type == 'tag'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          pattern: dol-*
          path: outputs
          merge-multiple: true

      - name: Upload to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: outputs/{*.zip,*.apk}
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          make_latest: true
          # prerelease: true
          release_name: ${{ github.ref_name }}
          # body: |
          #   ${{ steps.gen_release_note.outputs.RELEASE_BODY }}

  call-deploy:
    uses: ./.github/workflows/deploy.yaml
    needs: release
    if: github.ref_type == 'tag'
    secrets: inherit

  call-deploy-hub:
    uses: ./.github/workflows/deploy-hub.yaml
    needs: release
    if: github.ref_type == 'tag'
    secrets: inherit
