name: Build

on:
  push:
    branches:
      - main
    tags:
      - '*'
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.github/workflows/trigger.yaml'
      - '.github/workflows/deploy-hub.yaml'
  workflow_dispatch:

jobs:
  build_matrix:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        pack: [zip, apk]
        code: [3,11,12,15,19,27,31,35,47,67,79,83,91,95,99,111]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '8'

      - name: Install APT packages
        run: sudo apt install -y unrar

      # 下载焊入html的i18n
      - name: Download game files (zip)
        uses: robinraju/release-downloader@v1.8
        with:
          repository: "sakarie9/DoLModLoaderBuild"
          latest: true
          fileName: "DoL-ModLoader-CHS.zip"

      # 下载汉化仓库的apk
      - name: Download game files (apk)
        if: ${{ matrix.pack }} == 'apk'
        uses: robinraju/release-downloader@v1.8
        with:
          repository: "Eltirosto/Degrees-of-Lewdity-Chinese-Localization"
          latest: true
          fileName: "DoL-ModLoader-*-v*[^polyfill].apk"

      # 修改内容
      - name: Modify ZIP&APK
        run: |
          dol_basename=$(basename DoL*.apk .apk)
          
          mkdir modify_tmp
          unzip *.zip -d modify_tmp/zip
          unzip *.apk -d modify_tmp/apk
          rm *.apk
          cd modify_tmp

          # 将zip的html覆盖到apk中
          cp "zip/Degrees of Lewdity.html" "apk/assets/www/"

          # 将apk中的img覆盖到zip中
          rm -r "zip/img"
          cp -r "apk/assets/www/img" "zip/"

          # 打包
          cd zip
          zip -r ${dol_basename}.zip *
          mv ${dol_basename}.zip ../../
          cd ..

          cd apk
          zip -r ${dol_basename}.apk *
          mv ${dol_basename}.apk ../../
          cd ..

      - name: Run mod script
        run: |
          echo ${{ secrets.SIGNING_KEY }} > dol.base64
          base64 -d dol.base64 > dol.jks
          ./mod.sh ${{ matrix.pack }} ${{ matrix.code }} ${{ github.ref_name }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dol-chs-mods
          path: output/*
      - name: Upload artifacts pairs
        uses: actions/upload-artifact@v3
        with:
          name: pairs
          path: pairs/*

  release:
    runs-on: ubuntu-latest
    needs: build_matrix
    if: github.ref_type == 'tag'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: dol-chs-mods
          path: outputs
      # - name: Generate release body origin
      #   id: gen_release_note
      #   run: |
      #     cd outputs
      #     BASEURL=https://github.com/sakarie9/DOL-CHS-MODS/releases/download/${{ github.ref_name }}
      #     md=$(cat << EOF
      #     ## 原版汉化整合

      #     | 版本选择                        	| ZIP                             	| APK                             	|
      #     |---------------------------------	|---------------------------------	|---------------------------------	|
      #     | BESC                            	| [下载]($BASEURL/$(cat zip_3))   	| [下载]($BASEURL/$(cat apk_3))   	|
      #     | 作弊+HP                         	| [下载]($BASEURL/$(cat zip_12))  	| [下载]($BASEURL/$(cat apk_12))  	|
      #     | ***BESC+作弊+HP(推荐)***        	| [下载]($BASEURL/$(cat zip_15))  	| [下载]($BASEURL/$(cat apk_15))  	|
      #     | BESC+BJ特写                     	| [下载]($BASEURL/$(cat zip_19))  	| [下载]($BASEURL/$(cat apk_19))  	|
      #     | BESC+HP+BJ特写                  	| [下载]($BASEURL/$(cat zip_27))  	| [下载]($BASEURL/$(cat apk_27))  	|
      #     | ***BESC+作弊+HP+BJ特写(推荐)*** 	| [下载]($BASEURL/$(cat zip_31))  	| [下载]($BASEURL/$(cat apk_31))  	|
      #     | BESC+KR特写                     	| [下载]($BASEURL/$(cat zip_35))  	| [下载]($BASEURL/$(cat apk_35))  	|
      #     | BESC+作弊+HP+KR特写             	| [下载]($BASEURL/$(cat zip_47))  	| [下载]($BASEURL/$(cat apk_47))  	|
      #     | BESC+WAX                        	| [下载]($BASEURL/$(cat zip_67))  	| [下载]($BASEURL/$(cat apk_67))  	|
      #     | BESC+作弊+HP+WAX                	| [下载]($BASEURL/$(cat zip_79))  	| [下载]($BASEURL/$(cat apk_79))  	|
      #     | BESC+BJ特写+WAX                 	| [下载]($BASEURL/$(cat zip_83))  	| [下载]($BASEURL/$(cat apk_83))  	|
      #     | BESC+HP+BJ特写+WAX              	| [下载]($BASEURL/$(cat zip_91))  	| [下载]($BASEURL/$(cat apk_91))  	|
      #     | BESC+作弊+HP+BJ特写+WAX         	| [下载]($BASEURL/$(cat zip_95))  	| [下载]($BASEURL/$(cat apk_95))  	|
      #     | BESC+KR特写+WAX                 	| [下载]($BASEURL/$(cat zip_99))  	| [下载]($BASEURL/$(cat apk_99))  	|
      #     | BESC+作弊+HP+KR特写+WAX         	| [下载]($BASEURL/$(cat zip_111)) 	| [下载]($BASEURL/$(cat apk_111)) 	|
      #     EOF
      #     )
      #     md="${md//'%'/'%25'}"                               # Multiline escape sequences for %
      #     md="${md//$'\n'/'%0A'}"                             # Multiline escape sequences for '\n'
      #     md="${md//$'\r'/'%0D'}"                             # Multiline escape sequences for '\r'
      #     echo "RELEASE_BODY=$md" >> $GITHUB_OUTPUT

      - name: Upload to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: outputs/{*.zip,*.apk}
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          make_latest: true
          # prerelease: true
          release_name: ${{ github.ref_name }}
          # body: |
          #   ${{ steps.gen_release_note.outputs.RELEASE_BODY }}

  call-deploy:
    uses: ./.github/workflows/deploy.yaml
    needs: release
    if: github.ref_type == 'tag'
    secrets: inherit

  call-deploy-hub:
    uses: ./.github/workflows/deploy-hub.yaml
    needs: release
    if: github.ref_type == 'tag'
    secrets: inherit